* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --dark-mode: #191919;
  --light-Content: #a7a7a7;
  --gradient: linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%);
}
html {
  background: var(--dark-mode);
  font-size: 62.5%;
  /* 1REM =10PX */
  font-style: normal;
  text-decoration: none;
  scroll-behavior: smooth;
}
.container {
  padding: 12px 3rem;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}
header nav ul {
  display: flex;
  gap: 1.5rem;
  list-style-type: none;
}
header nav ul a {
  text-decoration: none;
  color: var(--light-Content);
  text-align: center;

  /* Buttons / Big */
  font-family: DM Sans;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.6rem; /* 130% */
  /* 1REM=16PX */
}
/* pseudo-selector */
.nav-links a::after {
  content: "";
  width: 0;
  height: 2px;
  display: block;
  transition: all 0.2s ease-in;
}
.nav-links a:hover::after {
  width: 100%;
  background: var(--gradient);
}

/* .nav-links a:hover {
  border-bottom: 2px solid red;
} */
/* mediaquery */
@media all and (width<=483px) {
  header {
    flex-direction: column;
  }
  .container {
    padding: 1.5rem 2rem;
  }
  header nav ul {
    font-size: 2rem;
    gap: 1rem;
  }
  .section-heading {
    font-size: 3.5rem;
  }
  .sub-section-heading {
    font-size: 2.8rem;
  }
  .project-card {
    width: 260px;
    height: 500px;
  }
  .project-card img {
    width: 260px;
    height: 180px;
  }
  .project-title {
    font-size: 2rem;
  }
  .project-info {
    font-size: 1.2rem;
  }
  .project-details {
    padding: 1.5rem;
  }
}
.gradient-text {
  background: var(
    --Gradient-Heading,
    linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins;
  font-weight: 700;
  font-size: 3rem;
}
#hero {
  display: flex;
  justify-content: space-around;
  min-height: 100vh;
  align-items: center;
  gap: 3rem;
}

.hero-content {
  color: #d9d9d9;
  font-family: Poppins;
  font-size: 5.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 7rem;
  letter-spacing: -1px;
}
.myname {
  background: var(
    --Gradient-Heading,
    linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins;
  font-weight: 700;
  font-size: 5.8rem;
}

.profile-img {
  width: 349px;
  height: 349px;
  /* border: 1px solid red;
  border-radius: 50%; */
  display: flex;
  align-items: center;
}
.profile-img img {
  width: 100%;
  aspect-ratio: 1;
  border: 50%;
  /* background-color: #ccc; */
}
/* mediaquery */

@media all and (width<=828px) {
  #hero {
    flex-direction: column;
    margin-top: 3rem;
  }
  .profile-img {
    order: -1;
  }
  .profile-img img {
    width: 260px;
    height: 260px;
  }
  .hero-content {
    font-size: 3.5rem;
    line-height: 5.5rem;
  }
  #skills-section {
    gap: 4rem;
  }
}

.social-links img {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 1rem 0.5rem;
  border-radius: 50%;
  transform: scale(1);
  transition: 0.2s ease-in;
}
.social-links img:hover {
  transform: scale(1.04);
  box-shadow: 0px 0px 2px 2px white;
}

/* skill */

.section-heading {
  color: #ccc;
  text-align: center;
  font-family: Poppins;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5rem; /* 54.167% */
  /* margin-bottom: 2rem; */
}
.sub-section-heading {
  color: #a7a7a7;
  text-align: center;
  font-family: Poppins;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4rem; /* 81.25% */
  /* margin-bottom: 4rem; */
}
.skills-wrapper {
  display: flex;
  gap: 10rem 22rem;
  flex-wrap: wrap;
  justify-content: center;
}
.skills-wrapper img {
  width: 12rem;
  height: 12rem;
  flex-shrink: 0;
}
#skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  margin-top: 4rem;
  min-height: 100vh;
}
/* projects
 */
#project-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  margin-top: 4rem;
  min-height: 100vh;
}
.project-title {
  color: #ccc;
  text-align: center;
  font-family: Poppins;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 92.857% */
}
.project-info {
  color: #ccc;
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 26px; /* 144.444% */
  margin: 2rem 0;
}
.project-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.project-details {
  padding: 2rem;
}
.project-card {
  width: 373px;
  height: 567px;
  border-radius: 20px;
  background: #363636;
  box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.2);
}
.project-card img {
  width: 373px;
}
.project-links img {
  width: 20px;
  height: 20px;
}
.project-links a {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  text-decoration-line: underline;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  margin-right: 1rem;
}
.project-links {
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 13rem;
  margin-bottom: 1rem;
}
.footer nav ul {
  display: flex;
  gap: 1.5rem;
  list-style-type: none;
}
.footer nav ul a {
  text-decoration: none;
  color: var(--light-Content);
  text-align: center;

  /* Buttons / Big */
  font-family: DM Sans;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.6rem; /* 130% */
  /* 1REM=16PX */
}
.footer img {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 1rem 0.5rem;
  border-radius: 50%;
  transform: scale(1);
  transition: 0.2s ease-in;
}
.footer img:hover {
  transform: scale(1.04);
  box-shadow: 0px 0px 2px 2px white;
}
.footer p {
  display: inline-block;
  margin: 1rem 0.5rem;
  font-size: 1.5rem;
}
hr {
  border: none;
  border-top: 0.8px double #42446e;

  overflow: visible;
  text-align: center;
  height: 5px;
}
.foot-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.foot-footer nav ul {
  display: flex;
  gap: 1.5rem;
  list-style-type: none;
}
.foot-footer nav ul a {
  text-decoration: none;
  color: var(--light-Content);
  text-align: center;

  /* Buttons / Big */
  font-family: DM Sans;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.6rem; /* 130% */
  /* 1REM=16PX */
}
.developed-by-text {
  color: white;
}

.active {
  background: linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2rem;
  color: white;
  border: 1px solid white;
}
